[project]
name = "ci2025-lab2-review2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.3.4",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
